{
  "extends": "google",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react"],
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true
  },
  "rules": {
//    "react/no-multi-comp": "error",
//    "react/no-render-return-value": "error",
//    "react/no-array-index-key": "warn",
//    "react/no-children-prop": "error",
//    "react/no-direct-mutation-state": "error",
//    "react/no-is-mounted": "error",
//    "react/no-typos": "error",
//    "react/no-string-refs": "error",
//    "react/no-this-in-sfc": "error",
//    "react/no-unescaped-entities": "error",
//    "react/prop-types": "warn",
//    "react/require-render-return": "error",
//    "react/jsx-no-comment-textnodes": "error",
//    "react/jsx-no-duplicate-props": "error",
//    "react/jsx-no-target-blank": "error",
//    "react/no-deprecated": "warn",
//    "react/no-find-dom-node": "error",
    "padded-blocks": "off",
    "no-trailing-spaces": "off",
    "spaced-comment": "off",
    "space-before-blocks": "off",
    "space-in-parens": "off",
    "no-multi-spaces": "off",
    "no-spaced-func": "off",
    "no-regex-spaces": "off",
    "space-before-function-paren": "off",
    "no-irregular-whitespace": "off",
    "no-whitespace-before-property": "off",
    "space-infix-ops": "off",
    "space-unary-ops": "off",

    "keyword-spacing": "off",
    "key-spacing": "off",
    "no-invalid-this": "off",
    "arrow-parens": "off",
    "object-curly-spacing": "off",

    "require-jsdoc": "off",
    "no-unused-vars": "off",
    "max-len": [
      2,
      {
        "code": 80,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignoreComments": true,
        "ignoreStrings": true
      }
    ]
  }
}
